{{ define "main" -}}
<div class="post">
  <h1>{{ .Title }}</h1>
  <span class="post-meta">
    <time datetime="{{ .Date.Format "2006-01-02T15:04:05Z0700" }}">{{ .Date.Format "2006-01-02 15:04:05" }}</time>
    &nbsp;字数：<strong>{{ .WordCount }}</strong>
    {{ if .Params.tags }}
      &nbsp;分类：
      {{- range .Params.categories -}}
          <a href="/categories/{{ . | urlize }}">{{ . }}</a>
      {{ end }}
    {{ end }}
    {{ if .Params.tags }}
    &nbsp;标签：
      {{- range .Params.tags -}}
          <a href="/tags/{{ . | urlize }}">{{ . }}</a>
      {{ end }}
    {{ end }}
  </span>
  {{ .Content }}
</div>

{{ if .Site.DisqusShortname -}}
<h2>Comments</h2>
{{ template "_internal/disqus.html" . }}
{{- end }}
{{- end }}
